<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>管理员管理-出款管理后台</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/elementui.css">
    <script src="static/js/lib/vue.js"></script>
    <script src="static/js/lib/axios.min.js"></script>
    <script src="static/js/lib/base64.js"></script>
    <script src="static/js/lib/request.js"></script>
    <script src="static/js/lib/elementui.js"></script>
    <script src="static/js/lib/qs.js"></script>
    <script src="components/head.js"></script>
    <script src="static/js/admin.js"></script>
</head>
<body>

<div id="app">
    <head-component active-index="4"></head-component>
    <div class="index">
        <template>
            <h4 class="title">管理员管理</h4>
            <el-form :inline="true" :model="query" class="demo-form-inline" size="small" >
                <el-form-item label="管理员账号">
                    <el-input v-model="query.card_no" placeholder="请输入管理员账号" clearable></el-input>
                </el-form-item>

                <el-form-item label="时间">
                    <el-date-picker
                            v-model="query.range"
                            type="datetimerange"
                            :picker-options="pickerOptions"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            align="right">
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSearch">查询</el-button>
                    <el-button icon="el-icon-plus" @click="dialog.visible = true">添加</el-button>
                </el-form-item>
            </el-form>

            <el-table
                    :data="tableData.list"
                    v-loading="tableLoading"
                    border
                    size="small"
                    style="width: 100%">
                <el-table-column
                        width="80px"
                        prop="id"
                        label="id">
                </el-table-column>
                <el-table-column
                        prop="username"
                        label="用户名">
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="nickname"
                        label="昵称">
                </el-table-column>
                <el-table-column
                        prop="now_login_ip"
                        label="本次登录ip">
                </el-table-column>
                <el-table-column
                        prop="now_login_at"
                        label="本次登录时间">
                </el-table-column>
                <el-table-column
                        prop="last_login_ip"
                        label="上次登录ip">
                </el-table-column>
                <el-table-column
                        prop="last_login_at"
                        label="上次登录时间">
                </el-table-column>
                <el-table-column
                        prop="created_at"
                        label="创建时间">
                </el-table-column>
                <el-table-column
                        prop="created_at"
                        label="更新时间">
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="onUpdateAdmin(scope)">编辑</el-button>

                        <el-popover
                                placement="top"
                                title="提示"
                                width="200"
                                trigger="click"
                                v-model="scope.row.delPopover">
                            <p>确定要删除{{scope.row.username}}吗？</p>
                            <div style="text-align: right; margin: 0">
                                <el-button size="mini" type="text" @click="scope.row.delPopover = false">取消</el-button>
                                <el-button type="primary" size="mini" @click="onDelAdmin(scope)">确定</el-button>
                            </div>
                            <el-button
                                    v-if="scope.row.id != 1"
                                    slot="reference"
                                    size="mini"
                                    :loading="scope.row.loading"
                                    type="danger">删除</el-button>

                        </el-popover>
                    </template>
                </el-table-column>
            </el-table>
            <div class="block" style="margin-top: 20px; text-align: right">
                <el-pagination
                        @size-change="handleSizeChange"
                        :current-page.sync="query.page"
                        @current-change="handleCurrentChange"
                        :page-size="query.count"
                        layout="sizes ,prev, pager, next"
                        :total="tableData.total">
                </el-pagination>
            </div>


            <el-dialog
                    title="添加管理员"
                    :visible.sync="dialog.visible"
                    width="600px">
                <el-form ref="dialogForm" :model="dialog.form" :rules="dialog.rules" label-width="110px">
                    <el-form-item label="用户名" prop="username">
                        <el-input v-model="dialog.form.username" maxlength="16" placeholder="请输入用户名"></el-input>
                    </el-form-item>
                    <el-form-item label="昵称" prop="nickname">
                        <el-input v-model="dialog.form.nickname" maxlength="16" placeholder="请输入昵称"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input v-model="dialog.form.password" type="password" maxlength="16" placeholder="请输入密码"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码" prop="password1">
                        <el-input v-model="dialog.form.password1" type="password" maxlength="16" placeholder="请再次输入密码"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="dialog.visible = false">取 消</el-button>
                        <el-button type="primary" @click="dialogFormSubmit()" :loading="dialog.btnLoading">确 定</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>

            <el-dialog
                    title="更新管理员密码"
                    :visible.sync="dialogEdit.visible"
                    width="600px">
                <el-form ref="dialogEditForm" :model="dialogEdit.form" :rules="dialogEdit.rules" label-width="110px">
                    <el-form-item label="用户名" prop="username">
                        <span>{{dialogEdit.form.username}}</span>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input v-model="dialogEdit.form.password" type="password" maxlength="16" placeholder="请输入密码"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码" prop="password1">
                        <el-input v-model="dialogEdit.form.password1" type="password" maxlength="16" placeholder="请再次输入密码"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="dialogEdit.visible = false">取 消</el-button>
                        <el-button type="primary" @click="dialogFormUpdate()" :loading="dialogEdit.btnLoading">确 定</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>

        </template>
    </div>
</div>

</body>
</html>
