<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>银行卡管理-出款管理后台</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/elementui.css">
    <script src="static/js/lib/vue.js"></script>
    <script src="static/js/lib/axios.min.js"></script>
    <script src="static/js/lib/base64.js"></script>
    <script src="static/js/lib/request.js"></script>
    <script src="static/js/lib/elementui.js"></script>
    <script src="static/js/lib/qs.js"></script>
    <script src="components/head.js"></script>
    <script src="static/js/bankslogs.js"></script>
</head>
<body>

<div id="app">
    <head-component active-index="2"></head-component>
    <div class="index">
        <template>
            <h4 class="title">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item><a href="banks.html">银行卡管理</a></el-breadcrumb-item>
                    <el-breadcrumb-item>银行卡明细</el-breadcrumb-item>
                </el-breadcrumb>
            </h4>
            <div class="card_no">
                银行卡：{{query.card_no}}
            </div>
            <el-form :inline="true" :model="query" class="demo-form-inline" size="small" >
                <!--<el-form-item label="收支">
                    <el-select v-model="query.admin" placeholder="请选择" clearable>
                        <el-option label="全部" value=""></el-option>
                        <el-option label="收入" value="0"></el-option>
                        <el-option label="支出" value="1"></el-option>
                    </el-select>
                </el-form-item>-->
                <el-form-item label="时间">
                    <el-date-picker
                            v-model="query.range"
                            type="datetimerange"
                            :picker-options="pickerOptions"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            align="right">
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSearch">查询</el-button>
                </el-form-item>
            </el-form>

            <el-table
                    :data="tableData.list"
                    v-loading="tableLoading"
                    border
                    size="small"
                    style="width: 100%">

                <el-table-column

                        prop="id"
                        label="id">
                </el-table-column>
                <el-table-column
                        prop="created_at"
                        label="交易时间">
                </el-table-column>
                <el-table-column
                        prop="margin"
                        label="交易差额">
                    <template slot-scope="scope">
                        <span style="color: red" v-if="scope.row.margin > 0">
                            {{scope.row.margin | moneyFormat}}
                        </span>
                        <span style="color: green" v-else>
                            {{scope.row.margin | moneyFormat}}
                        </span>

                    </template>
                </el-table-column>
                <el-table-column
                        prop="balance"
                        label="账户余额">
                    <template slot-scope="scope">
                        <span style="color: red">
                            {{scope.row.balance | moneyFormat}}
                        </span>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="margin"
                        label="摘要">
                    <template slot-scope="scope">
                        <span v-if="scope.row.margin > 0">
                            充值
                        </span>
                        <span v-else>
                            出款
                        </span>
                    </template>
                </el-table-column>
            </el-table>
            <div class="block" style="margin-top: 20px; text-align: right">
                <el-pagination
                        @size-change="handleSizeChange"
                        :current-page.sync="query.page"
                        @current-change="handleCurrentChange"
                        :page-size="query.count"
                        layout="sizes ,prev, pager, next"
                        :total="tableData.total">
                </el-pagination>
            </div>

        </template>

    </div>
</div>

</body>
</html>
