<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>银行卡管理-出款管理后台</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/elementui.css">
    <script src="static/js/lib/vue.js"></script>
    <script src="static/js/lib/axios.min.js"></script>
    <script src="static/js/lib/base64.js"></script>
    <script src="static/js/lib/request.js"></script>
    <script src="static/js/lib/elementui.js"></script>
    <script src="static/js/lib/qs.js"></script>
    <script src="components/head.js"></script>
    <script src="static/js/banksorder.js"></script>
</head>
<body>

<div id="app">
    <head-component active-index="3"></head-component>
    <div class="index">
        <template>
            <h4 class="title">
                卡池订单
            </h4>
            <el-form :inline="true" :model="query" class="demo-form-inline" size="small" >
                <el-form-item label="订单号">
                    <el-input v-model="query.order_id" placeholder="请输入订单号" clearable></el-input>
                </el-form-item>
               <!-- <el-form-item label="外部订单号">
                    <el-input v-model="query.out_order_no" placeholder="请输入外部订单号" clearable></el-input>
                </el-form-item>-->
                <el-form-item label="卡号">
                    <el-input v-model="query.card_number" placeholder="请输入卡号" clearable></el-input>
                </el-form-item>
                <!--<el-form-item label="姓名">
                    <el-input v-model="query.name" placeholder="请输入姓名" clearable></el-input>
                </el-form-item>-->
                <el-form-item label="金额">
                    <el-input v-model="query.money" placeholder="请输入金额" clearable></el-input>
                </el-form-item>
                <el-form-item label="订单状态">
                    <el-select v-model="query.status" placeholder="请选择订单状态" clearable>
                        <el-option label="全部" value=""></el-option>
                        <el-option label="未处理" :value="0"></el-option>
                        <el-option label="进行中" :value="1"></el-option>
                        <el-option label="成功" :value="2"></el-option>
                        <el-option label="失败" :value="3"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="时间">
                    <el-date-picker
                            v-model="query.range"
                            type="datetimerange"
                            :picker-options="pickerOptions"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            align="right">
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSearch">查询</el-button>
                </el-form-item>
            </el-form>

            <el-table
                    :data="tableData.list"
                    v-loading="tableLoading"
                    border
                    size="small"
                    style="width: 100%">
                <el-table-column
                        width="80px"
                        prop="id"
                        label="id">
                </el-table-column>
                <el-table-column
                        prop="out_order_no"
                        label="外部订单号">
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="money"
                        label="金额">
                </el-table-column>
                <el-table-column
                        prop="card_number"
                        label="卡号">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="姓名">
                </el-table-column>
                <el-table-column
                        width="80px"
                        label="状态">
                    <template slot-scope="scope">
                        <el-tag type="success" v-if="scope.row.status == 2" size="small">成功</el-tag>
                        <el-tag type="danger" v-else-if="scope.row.status == 3" size="small">失败</el-tag>
                        <el-tag  v-else-if="scope.row.status == 1"  size="small">进行中</el-tag>
                        <el-tag type="warning" v-else-if="scope.row.status == -1"  size="small">未确认</el-tag>
                        <el-tag type="info" v-else  size="small">未处理</el-tag>

                    </template>
                </el-table-column>
                <el-table-column
                        prop="created_at"
                        label="创建时间">
                </el-table-column>
                <el-table-column
                        prop="updated_at"
                        label="更新时间">
                </el-table-column>
                <el-table-column label="操作" width="280px">
                    <template slot-scope="scope">

                        <el-button
                                size="mini"
                                @click="onDialogView(scope.row)" >查看详情</el-button>

                        <el-popover
                                v-if="scope.row.status == 0 || scope.row.status == 1"
                                placement="top"
                                v-model="scope.row.popover"
                                width="200">
                            <p>请确认订单 {{scope.row.name}} ￥{{scope.row.money}} 是否成功？</p>
                            <div style="text-align: right; margin: 10px 0 0 0;">
                                <el-button type="success" size="mini" @click="onStatus(scope,2)">成功</el-button>
                                <el-button type="danger" size="mini" @click="onStatus(scope,3)">失败</el-button>
                            </div>
                            <el-button
                                    slot="reference"
                                    size="mini">确认订单</el-button>
                        </el-popover>

                    </template>
                </el-table-column>
            </el-table>
            <div class="block" style="margin-top: 20px; text-align: right">
                <el-pagination
                        @size-change="handleSizeChange"
                        :current-page.sync="query.page"
                        @current-change="handleCurrentChange"
                        :page-size="query.count"
                        layout="sizes ,prev, pager, next"
                        :total="tableData.total">
                </el-pagination>
            </div>

            <el-dialog
                    title="卡池设置"
                    :visible.sync="dialog.visible"
                    width="600px">
                <div style="margin-top: -15px;" class="view-table-div">

                    <table border="0px" cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                            <td colspan="2">订单信息</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>订单号</td>
                            <td>{{dialog.table.order_id}}</td>
                        </tr>
                        <tr>
                            <td>外部订单号</td>
                            <td>{{dialog.table.out_order_no}}</td>
                        </tr>
                        <tr>
                            <td>银行名称</td>
                            <td>{{dialog.table.bank_name}}</td>
                        </tr>
                        <tr>
                            <td>转账金额</td>
                            <td>{{dialog.table.money}}</td>
                        </tr>
                        <tr>
                            <td>银行卡号</td>
                            <td>{{dialog.table.card_number}}</td>
                        </tr>
                        <tr>
                            <td>姓名</td>
                            <td>{{dialog.table.name}}</td>
                        </tr>
                        <tr>
                            <td>确认工号</td>
                            <td>{{dialog.table.worker || '-'}}</td>
                        </tr>
                        <tr>
                            <td>创建时间</td>
                            <td>{{dialog.table.created_at}}</td>
                        </tr>
                        <tr>
                            <td>最后更新时间</td>
                            <td>{{dialog.table.updated_at}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table border="0px" cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                            <td colspan="2">处理结果</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>操作状态</td>
                            <td>
                                <span style="color: #67c23a" v-if="dialog.table.status == 2">成功</span>
                                <span style="color: #f56c6c"  v-else-if="dialog.table.status == 3">失败</span>
                                <span  v-else-if="dialog.table.status == -1">待确认</span>
                                <span style="color: #409EFF" v-else-if="dialog.table.status == 1">进行中</span>
                                <span style="color: #909399" v-else>未处理</span>

                            </td>
                        </tr>

                        <tr>
                            <td>操作卡号</td>
                            <td>{{dialog.table.task_card_no || '-'}}</td>
                        </tr>
                        <tr>
                            <td>账面余额</td>
                            <td>{{dialog.table.task_balance || '-'}}</td>
                        </tr>
                        <tr>
                            <td>失败原因</td>
                            <td>{{dialog.table.msg || '-'}}</td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </el-dialog>
        </template>
    </div>
</div>

</body>
</html>
