<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>出款管理后台</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/elementui.css">
    <script src="static/js/lib/vue.js"></script>
    <script src="static/js/lib/axios.min.js"></script>
    <script src="static/js/lib/base64.js"></script>
    <script src="static/js/lib/request.js"></script>
    <script src="static/js/lib/elementui.js"></script>
    <script src="static/js/lib/qs.js"></script>
    <script src="static/js/list.js"></script>
    <script src="components/head.js"></script>
</head>
<body>

<div id="app">
    <head-component active-index="1"></head-component>
    <div class="index">
        <template>
            <h4 class="title">订单管理中心</h4>
            <el-form :inline="true" :model="query" class="demo-form-inline" size="small" >
                <el-form-item label="订单号">
                    <el-input v-model="query.order_id" placeholder="请输入订单号" clearable></el-input>
                </el-form-item>
                <el-form-item label="外部订单号">
                    <el-input v-model="query.out_order_no" placeholder="请输入外部订单号" clearable></el-input>
                </el-form-item>
                <el-form-item label="卡号">
                    <el-input v-model="query.card_number" placeholder="请输入卡号" clearable></el-input>
                </el-form-item>
                <el-form-item label="姓名">
                    <el-input v-model="query.name" placeholder="请输入姓名" clearable></el-input>
                </el-form-item>
                <el-form-item label="金额">
                    <el-input v-model="query.money" placeholder="请输入金额" clearable></el-input>
                </el-form-item>
                <el-form-item label="管理员" v-if="admin.id == 1">
                    <el-select v-model="query.adminid" placeholder="请选择管理员" clearable>
                        <el-option label="全部" value=""></el-option>
                        <el-option v-for="(item, index) in admins" :label="item.nickname" :value="item.id" :key="item.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="订单状态">
                    <el-select v-model="query.status" placeholder="请选择订单状态" clearable>
                        <el-option label="全部" value=""></el-option>
                        <el-option label="未确认" value="-1"></el-option>
                        <el-option label="未处理" :value="0"></el-option>
                        <el-option label="进行中" :value="1"></el-option>
                        <el-option label="成功" :value="2"></el-option>
                        <el-option label="失败" :value="3"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="时间">
                    <el-date-picker
                            v-model="query.range"
                            type="datetimerange"
                            :picker-options="pickerOptions"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            align="right">
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSearch">查询</el-button>
                    <el-button icon="el-icon-plus" @click="onDialogSite">添加</el-button>
                    <el-upload
                            class="upload-csv"
                            :disabled="uploadLoading"
                            :show-file-list="false"
                            :headers="token"
                            :on-progress="uploadProgress"
                            :on-success="uploadSuccess"
                            :on-error="uploadError"
                            action="api.php?a=uploadCsv">
                        <el-button size="small" icon="el-icon-upload2" :loading="uploadLoading">上传</el-button>
                    </el-upload>
                </el-form-item>
            </el-form>

            <div style="margin-bottom: 15px;" v-if="admin.id == 1">
                <el-alert

                        type="success"
                        :closable="false">
                    <div slot="title" style="padding: 10px 0px">
                        银行卡信息
                    </div>
                    <div class="bank-info" v-loading="banksLoading">
                        <div class="t"><span class="ch">卡号</span><span class="ye">余额</span></div>
                        <div class="b" v-for=" item in tableData.banks "><span class="ch">{{item.card_no}}</span><span class="ye">{{item.balance}}</span></div>
                    </div>
                </el-alert>
            </div>

            <el-table
                    :data="tableData.list"
                    v-loading="tableLoading"
                    border
                    show-summary
                    :summary-method="getSummaries"
                    size="small"
                    style="width: 100%">
                <el-table-column
                        width="80px"
                        prop="id"
                        label="id">
                </el-table-column>
                <el-table-column
                        v-if="admin.id == 1"
                        width="100px"
                        prop="username"
                        label="管理员账号">
                </el-table-column>
                <el-table-column
                        prop="out_order_no"
                        label="外部订单号">
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="money"
                        label="金额">
                </el-table-column>
                <el-table-column
                        prop="card_number"
                        label="卡号">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="姓名">
                </el-table-column>
                <el-table-column
                        width="80px"
                        label="状态">
                    <template slot-scope="scope">
                        <el-tag type="success" v-if="scope.row.status == 2" size="small">成功</el-tag>
                        <el-tag type="danger" v-else-if="scope.row.status == 3" size="small">失败</el-tag>
                        <el-tag  v-else-if="scope.row.status == 1"  size="small">进行中</el-tag>
                        <el-tag type="warning" v-else-if="scope.row.status == -1"  size="small">未确认</el-tag>
                        <el-tag type="info" v-else  size="small">未处理</el-tag>

                    </template>
                </el-table-column>
                <el-table-column
                        prop="created_at"
                        label="创建时间">
                </el-table-column>
                <el-table-column label="操作" width="280px">
                    <template slot-scope="scope">

                        <el-button
                                   size="mini"
                                  @click="onDialogView(scope.row)" >查看详情</el-button>
                        <el-button-group v-if="scope.row.status == -1">
                            <el-button
                                       size="mini"
                                       type="success"
                                       @click="onConfirmOrderNo(scope.$index, scope.row)">确认订单</el-button>
                            <el-button
                                       size="mini"
                                       @click="onCancelOrder(scope.row.id)">取消订单</el-button>
                        </el-button-group>
                    </template>
                </el-table-column>
            </el-table>
            <div class="block" style="margin-top: 20px; text-align: right">
                <el-pagination
                        @size-change="handleSizeChange"
                        :current-page.sync="query.page"
                        @current-change="handleCurrentChange"
                        :page-size="query.count"
                        layout="sizes ,prev, pager, next"
                        :total="tableData.total">
                </el-pagination>
            </div>
            <el-dialog
                    :title="dialog.title"
                    :visible.sync="dialog.visible"
                    :width="dialog.width">
                <div v-if="dialog.action === 'viewOrder'" style="margin-top: -15px;" class="view-table-div">

                    <table border="0px" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <td colspan="2">订单信息</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>订单号</td>
                                <td>{{dialog.table.order_id}}</td>
                            </tr>
                            <tr>
                                <td>外部订单号</td>
                                <td>{{dialog.table.out_order_no}}</td>
                            </tr>
                            <tr>
                                <td>银行名称</td>
                                <td>{{dialog.table.bank_name}}</td>
                            </tr>
                            <tr>
                                <td>转账金额</td>
                                <td>{{dialog.table.money}}</td>
                            </tr>
                            <tr>
                                <td>银行卡号</td>
                                <td>{{dialog.table.card_number}}</td>
                            </tr>
                            <tr>
                                <td>姓名</td>
                                <td>{{dialog.table.name}}</td>
                            </tr>
                            <tr>
                                <td>确认工号</td>
                                <td>{{dialog.table.worker || '-'}}</td>
                            </tr>
                            <tr>
                                <td>创建时间</td>
                                <td>{{dialog.table.created_at}}</td>
                            </tr>
                            <tr>
                                <td>最后更新时间</td>
                                <td>{{dialog.table.updated_at}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <table border="0px" cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                            <td colspan="2">处理结果</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>操作状态</td>
                            <td>
                                <span style="color: #67c23a" v-if="dialog.table.status == 2">成功</span>
                                <span style="color: #f56c6c"  v-else-if="dialog.table.status == 3">失败</span>
                                <span  v-else-if="dialog.table.status == -1">待确认</span>
                                <span style="color: #409EFF" v-else-if="dialog.table.status == 1">进行中</span>
                                <span style="color: #909399" v-else>未处理</span>

                            </td>
                        </tr>

                        <tr>
                            <td>操作卡号</td>
                            <td>{{dialog.table.task_card_no || '-'}}</td>
                        </tr>
                        <tr>
                            <td>账面余额</td>
                            <td>{{dialog.table.task_balance || '-'}}</td>
                        </tr>
                        <tr>
                            <td>失败原因</td>
                            <td>{{dialog.table.msg || '-'}}</td>
                        </tr>
                        </tbody>
                    </table>


                </div>

                <el-form ref="dialogForm" :model="dialog.form" :rules="dialog.rules" label-width="110px" v-if="dialog.action === 'addOrder'">
                    <el-form-item label="外部订单号" prop="out_order_no">
                        <el-input v-model="dialog.form.out_order_no" placeholder="请输入外部订单号"></el-input>
                    </el-form-item>
<!--                    <el-form-item label="银行名称">-->
<!--                        <el-select v-model="dialog.form.bank_name" placeholder="请选择"  allow-create filterable style="width: 100%">-->
<!--                            <el-option value="中国邮政储蓄银行"></el-option>-->
<!--                            <el-option value="中国农业银行"></el-option>-->
<!--                            <el-option value="中国银行"></el-option>-->
<!--                            <el-option value="招商银行"></el-option>-->
<!--                            <el-option value="中国建设银行"></el-option>-->
<!--                            <el-option value="中国民生银行"></el-option>-->
<!--                        </el-select>-->
<!--                    </el-form-item>-->
                    <input type="hidden" v-model="dialog.form.bank_name">
                    <el-form-item label="银行卡号" prop="card_number">
                        <el-input v-model="dialog.form.card_number" placeholder="请输入银行卡号"></el-input>
                    </el-form-item>
                    <el-form-item label="开户姓名"  prop="name">
                        <el-input v-model="dialog.form.name" placeholder="请输入开户姓名"></el-input>
                    </el-form-item>
                    <el-form-item label="转账金额"  prop="money">
                        <el-tooltip v-model="moneySplitTip" :manual="true" placement="top">
                            <div slot="content" style="width:430px; "><div style="font-size: 16px">拆分提示</div>
                                <div style="color: #e6a23c;font-size: 14px; ">当前金额>=5000，订单自动拆分金额为：{{moneySplitArr && moneySplitArr}}</div>
                            </div>
                        <el-input v-model="dialog.form.money" placeholder="请输入订单金额">
                            <template slot="append" >元</template>
                        </el-input>
                        </el-tooltip>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="dialog.visible = false">取 消</el-button>
                        <el-button type="primary" @click="dialogFormSubmit()" :loading="dialog.btnLoading" :disabled="dialog.btnDisabled">确 定</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
        </template>
    </div>


</div>

</body>
</html>
