<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>充值审核-出款管理后台</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/elementui.css">
    <script src="static/js/lib/vue.js"></script>
    <script src="static/js/lib/axios.min.js"></script>
    <script src="static/js/lib/base64.js"></script>
    <script src="static/js/lib/request.js"></script>
    <script src="static/js/lib/elementui.js"></script>
    <script src="static/js/lib/qs.js"></script>
    <script src="components/head.js"></script>
    <script src="static/js/rechargeverify.js"></script>
</head>
<body>

<div id="app">
    <head-component active-index="4"></head-component>
    <div class="index">
        <template>
            <h4 class="title">
                账户充值
            </h4>
            <el-form :inline="true" :model="query" class="demo-form-inline" size="small" >
                <el-form-item label="账号">
                    <el-input v-model="query.username" placeholder="请输入账号" clearable></el-input>
                </el-form-item>
                <el-form-item label="银行卡账号">
                    <el-input v-model="query.card_no" placeholder="请输入银行卡" clearable></el-input>
                </el-form-item>

                <el-form-item label="金额">
                    <el-input v-model="query.money" placeholder="请输入充值金额" clearable></el-input>
                </el-form-item>


                <el-form-item label="充值状态">
                    <el-select v-model="query.status" placeholder="充值状态" clearable>
                        <el-option label="全部" value=""></el-option>
                        <el-option label="审核中" value="0"></el-option>
                        <el-option label="进行中" value="1"></el-option>
                        <el-option label="成功" value="2"></el-option>
                        <el-option label="失败" value="3"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="时间">
                    <el-date-picker
                            v-model="query.range"
                            type="datetimerange"
                            :picker-options="pickerOptions"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            align="right">
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSearch">查询</el-button>
                </el-form-item>
            </el-form>

            <el-table
                    :data="tableData.list"
                    v-loading="tableLoading"
                    border
                    size="small"
                    style="width: 100%">
                <el-table-column
                        width="80px"
                        prop="id"
                        label="id">
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="username"
                        label="充值账号">
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="money"
                        label="充值金额">
                </el-table-column>
                <el-table-column
                        prop="bank_name"
                        label="银行名称">
                </el-table-column>
                <el-table-column
                        prop="card_no"
                        label="银行卡">
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="card_name"
                        label="姓名">
                </el-table-column>
                <el-table-column
                        prop="created_at"
                        label="创建时间">
                </el-table-column>
                <el-table-column
                        prop="updated_at"
                        label="更新时间">
                </el-table-column>
                <el-table-column
                        width="100px"
                        prop="status"
                        label="状态">
                    <template slot-scope="scope">
                        <span v-if="scope.row.status == 0">审核中</span>
                        <span v-else-if="scope.row.status == 1">充值进行中</span>
                        <span v-else-if="scope.row.status == 2" style="color: #67c23a">充值成功</span>
                        <span v-else-if="scope.row.status == 3"v-else style="color: #f56c6c">充值失败</span>
                    </template>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">

                        <el-popover
                                v-if="scope.row.status == 0 || scope.row.status == 1"
                                placement="top"
                                v-model="scope.row.popover"
                                width="200">
                            <p>请确认订单 {{scope.row.name}} ￥{{scope.row.money}} 是否成功？</p>
                            <div style="text-align: right; margin: 10px 0 0 0;">
                                <el-button type="success" size="mini" @click="onStatus(scope,2)">成功</el-button>
                                <el-button type="danger" size="mini" @click="onStatus(scope,3)">失败</el-button>
                            </div>
                            <el-button
                                    slot="reference"
                                    size="mini">确认订单</el-button>
                        </el-popover>

                    </template>
                </el-table-column>
            </el-table>
            <div class="block" style="margin-top: 20px; text-align: right">
                <el-pagination
                        @size-change="handleSizeChange"
                        :current-page.sync="query.page"
                        @current-change="handleCurrentChange"
                        :page-size="query.count"
                        layout="sizes ,prev, pager, next"
                        :total="tableData.total">
                </el-pagination>
            </div>
        </template>
    </div>
</div>

</body>
</html>
